#block-engage-page-title h1,
#block-engage-views-block-essential-applications-and-resources-block > h2 {
    text-align:     center;
    color:          $dark-gray;
    border-bottom:  1px $light-gray solid;
    text-transform: uppercase;
    font-size:      1rem;
    font-weight:    500;
    margin:         3rem 0 2rem 0;
}
